.news .article-wrapper .card img{
    width:100%;
    height: 250px;
}
.section-heading{
    font-family: Oswald;
    font-size: 45px;
}
.news{
    background: #f0f0f0;
    position: relative;
    z-index:0;
}
.news .card-content{
    background-color: #ffffff;
}
.news .article-wrapper{
    display: flex;
}
.news .article-wrapper .card{
    background:var(--heaven);
    border-radius:4px;
}
.news .article-wrapper .card .card-content{
    padding:2rem;
}
.news .article-wrapper .card .card-content .post-meta .comment-count{
    margin-left: 1rem;
}
.news .article-wrapper .card .card-content h2{
    font-family: "Raleway-bold";
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    line-height: 1.5rem;
}
.news .article-wrapper .card .card-content p{
    line-height: 1.6em;
}
